@import './variables.css'; /*fondos/colores*/

.title-explora{
  display: flex;
  justify-content: center;
  font-family: var(--font-family-big);
  font-weight: bolder;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  padding-top: 4rem;
}

.genero-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas adicionales si no hay suficiente espacio en el contenedor */
    gap: 20px; /* Espacio entre las secciones de género */
    padding-bottom: 4rem;
  }
  
  .genero-section {
    flex: 1; /* Hace que cada sección de género ocupe el mismo espacio en la fila */
  }

  .genero-section h2{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 4rem;
    font-size: 2.4rem;
    font-family: var(--font-family-small);
  }

  .genero-section h2 .first-letter {
    color: var(--clr-purple);
  }

  .artista-list {
    display: flex;
    justify-content: center;
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    gap: 20px; /* Espacio entre las cards de artistas */
  }
  