@import './variables.css'; /*fondos/colores*/

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: #BDBDD7 solid 1px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--clr-light);
}

.sello-principal{
    display: flex;
    align-items: center;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-left: 1rem;
    text-decoration: none;
}

.search-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-container input{
    height: 2rem;
    width: 15rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0;
    outline: none;
    padding-left: 1rem;
    background-color: #F5EDED;
}
.search-container button{
    height: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    padding-right: 0.2rem;
    padding-left: 0.3rem;
    background-color: #F5EDED;
    cursor: pointer;
}

.icons-notificaciones{
    /*visibility: hidden;*/
    width: 25%;
    display: flex;        /*botones escondidos hasta que el usuario se loguee*/
    justify-content: space-around;
}
.icono-search{
    width: 16px;
    height: 16px;
}