@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-dark: #1E1E1E; 
    --clr-light: #F7F7F7;
    --clr-purple: #6527BE;
    --clr-gray: #606060;
    --font-family-big: 'Open Sans', sans-serif;
    --font-family-small: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}